/* Navbar.css */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #40b54d;
  display: flex;
}

nav li {
  float: left;
  margin: 0px 0px;
  font-size: 20px;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #15551d;
}

.active {
  background-color: #15551d;
}
